@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&family=PT+Sans:wght@400;700&family=Satisfy&display=swap');
$body-image: 'trend-bg.jpg';
$primary_font: "Oswald";
$light-black: #121212;
$grey: #ebf5fc;
$white: #fff;
$white-light: #bdbdbd;
$font-size: 14px;
$blur: 20px;
$shadow-opacity: 0.30;
$box-drop: -6px -6px 20px rgb(255 255 255), 6px 6px 20px rgb(0 0 0 / 10%)